In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = None
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
data = pd.read_csv("data.csv", header='infer')
data.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7

In [7]:
data = data[data["Attrition"]=="Yes"]

In [8]:
data.drop(["Attrition", "EmployeeCount", "EmployeeNumber"], axis=1, inplace=True)
data.head(2)

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
2,37,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0

In [10]:
orig_columns = pd.get_dummies(data).columns
# orig_columns

In [11]:
data = pd.get_dummies(data, drop_first=True)

In [12]:
X = data.drop(["YearsAtCompany"], axis=1)
y = data["YearsAtCompany"]

In [15]:
import statsmodels.api as sm

In [16]:
X.columns

Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education',
       'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel',
       'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'BusinessTravel_Travel_Frequently', 'BusinessTravel_Travel_Rarely',
       'Department_Research & Development', 'Department_Sales',
       'EducationField_Life Sciences', 'EducationField_Marketing',
       'EducationField_Medical', 'EducationField_Other',
       'EducationField_Technical Degree', 'Gender_Male',
       'JobRole_Human Resources', 'JobRole_Laboratory Technician',
       'JobRole_Manager', 'JobRole_Manufacturing Director',
       'JobRole_Research Director', 'JobRole_Research Scientist',
       'JobRole_Sales Executive', 'JobRole_Sales Representative',
       'MaritalStatus_Married', 'MaritalStatus_Single', 'OverTime_Yes'],
      dtype='object')

In [17]:
X2 = sm.add_constant(X.astype(float))
est = sm.OLS(y.astype(float), X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         YearsAtCompany   R-squared:                       0.867
Model:                            OLS   Adj. R-squared:                  0.838
Method:                 Least Squares   F-statistic:                     30.17
Date:                Sun, 16 Oct 2022   Prob (F-statistic):           8.86e-65
Time:                        18:33:30   Log-Likelihood:                -519.19
No. Observations:                 237   AIC:                             1124.
Df Residuals:                     194   BIC:                             1273.
Df Model:                          42
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
Age                                  -0.0233      0.024     -0.973      0.332      -0.070       0.024
DailyRate                            -0.0005      0.000     -1.282      0.202      -0.001       0.000
DistanceFromHome                     -0.0084      0.021     -0.409      0.683      -0.049       0.032
Education                             0.2335      0.171      1.366      0.174      -0.104       0.571
EnvironmentSatisfaction               0.2202      0.149      1.477      0.141      -0.074       0.514
HourlyRate                            0.0103      0.008      1.218      0.225      -0.006       0.027
JobInvolvement                       -0.0997      0.213     -0.467      0.641      -0.520       0.321
JobLevel                             -0.2906      0.630     -0.461      0.645      -1.533       0.952
JobSatisfaction                       0.4243      0.156      2.723      0.007       0.117       0.731
MonthlyIncome                         0.0002      0.000      1.234      0.219      -0.000       0.001
MonthlyRate                       -1.784e-05   2.43e-05     -0.736      0.463   -6.57e-05       3e-05
NumCompaniesWorked                   -0.2187      0.072     -3.051      0.003      -0.360      -0.077
PercentSalaryHike                     0.0327      0.073      0.448      0.655      -0.111       0.177
PerformanceRating                    -0.2483      0.755     -0.329      0.743      -1.738       1.242
RelationshipSatisfaction              0.1085      0.152      0.715      0.476      -0.191       0.408
StandardHours                         0.0241      0.036      0.659      0.510      -0.048       0.096
StockOptionLevel                      0.2199      0.265      0.829      0.408      -0.303       0.743
TotalWorkingYears                     0.3324      0.048      6.984      0.000       0.239       0.426
TrainingTimesLastYear                 0.3067      0.133      2.302      0.022       0.044       0.569
WorkLifeBalance                      -0.2215      0.215     -1.030      0.304      -0.646       0.203
YearsInCurrentRole                    0.4697      0.099      4.748      0.000       0.275       0.665
YearsSinceLastPromotion               0.2485      0.085      2.936      0.004       0.082       0.415
YearsWithCurrManager                  0.4148      0.097      4.274      0.000       0.223       0.606
BusinessTravel_Travel_Frequently     -0.8275      0.817     -1.013      0.312      -2.439       0.784
BusinessTravel_Travel_Rarely         -0.4509      0.773     -0.583      0.560      -1.975       1.074
Department_Research & Development    -3.9008      0.965     -4.043      0.000      -5.804      -1.998
Department_Sales                      6.2174      1.789      3.476      0.001       2.690       9.745
EducationField_Life Sciences          1.4980      1.487      1.008      0.315      -1.434       4.430
EducationField_Marketing              1.4785      1.559      0.948      0.344      -1.597       4.554
EducationField_Medical                1.2923      1.477      0.875      0.383      -1.620       4.205
EducationField_Other                  0.8067      1.656      0.487      0.627      -2.459       4.073
EducationField_Technical Degree       1.1869      1.491      0.796      0.427      -1.754       4.127
Gender_Male                          -0.3035      0.350     -0.867      0.387      -0.994       0.387
JobRole_Human Resources              -2.3163      1.324     -1.750      0.082      -4.927       0.294
JobRole_Laboratory Technician        -0.7179      1.120     -0.641      0.522      -2.927       1.491
JobRole_Manager                      -4.8064      1.847     -2.602      0.010      -8.449      -1.163
JobRole_Manufacturing Director       -0.9697      1.208     -0.803      0.423      -3.352       1.412
JobRole_Research Director             1.4599      2.342      0.623      0.534      -3.160       6.080
JobRole_Research Scientist           -0.0422      1.150     -0.037      0.971      -2.311       2.226
JobRole_Sales Executive             -11.5427      2.721     -4.242      0.000     -16.909      -6.176
JobRole_Sales Representative        -10.4895      2.857     -3.672      0.000     -16.124      -4.855
MaritalStatus_Married                 0.4461      0.571      0.781      0.436      -0.680       1.572
MaritalStatus_Single                  0.3971      0.676      0.587      0.558      -0.937       1.731
OverTime_Yes                         -0.6878      0.341     -2.014      0.045      -1.361      -0.014
==============================================================================
Omnibus:                       79.261   Durbin-Watson:                   2.050
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              649.457
Skew:                           1.052   Prob(JB):                    9.38e-142
Kurtosis:                      10.832   Cond. No.                     1.14e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.17e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [21]:
keep = ["JobSatisfaction", "NumCompaniesWorked", "TotalWorkingYears", "TrainingTimesLastYear", "YearsInCurrentRole", 
        "YearsSinceLastPromotion", "YearsWithCurrManager", "Department_Research & Development", "Department_Sales",
        "JobRole_Manager", "JobRole_Sales Executive", "JobRole_Sales Representative", "OverTime_Yes"]

In [22]:
X_kept = X.loc[:, keep]

In [23]:
X_kept.head()

,JobSatisfaction,NumCompaniesWorked,TotalWorkingYears,TrainingTimesLastYear,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Department_Research & Development,Department_Sales,JobRole_Manager,JobRole_Sales Executive,JobRole_Sales Representative,OverTime_Yes
0,4,8,8,0,4,0,5,0,1,0,1,0,1
2,3,6,7,3,0,0,0,1,0,0,0,0,1
14,3,5,6,4,2,0,3,1,0,0,0,0,1
21,1,7,10,4,3,0,3,0,1,0,0,1,0
24,1,2,8,2,2,1,3,1,0,0,0,0,0

In [24]:
X2 = sm.add_constant(X_kept.astype(float))
est = sm.OLS(y.astype(float), X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         YearsAtCompany   R-squared:                       0.852
Model:                            OLS   Adj. R-squared:                  0.843
Method:                 Least Squares   F-statistic:                     98.65
Date:                Sun, 16 Oct 2022   Prob (F-statistic):           1.04e-84
Time:                        18:45:04   Log-Likelihood:                -532.15
No. Observations:                 237   AIC:                             1092.
Df Residuals:                     223   BIC:                             1141.
Df Model:                          13
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                                -0.1705      0.835     -0.204      0.838      -1.817       1.476
JobSatisfaction                       0.3373      0.140      2.411      0.017       0.062       0.613
NumCompaniesWorked                   -0.2424      0.064     -3.803      0.000      -0.368      -0.117
TotalWorkingYears                     0.3513      0.031     11.196      0.000       0.289       0.413
TrainingTimesLastYear                 0.2886      0.125      2.318      0.021       0.043       0.534
YearsInCurrentRole                    0.4833      0.088      5.469      0.000       0.309       0.657
YearsSinceLastPromotion               0.3256      0.075      4.356      0.000       0.178       0.473
YearsWithCurrManager                  0.3991      0.085      4.705      0.000       0.232       0.566
Department_Research & Development    -1.2337      0.721     -1.712      0.088      -2.654       0.187
Department_Sales                      9.3419      2.394      3.902      0.000       4.624      14.060
JobRole_Manager                      -3.5447      1.414     -2.507      0.013      -6.331      -0.758
JobRole_Sales Executive             -11.3255      2.303     -4.918      0.000     -15.864      -6.787
JobRole_Sales Representative        -10.5712      2.336     -4.525      0.000     -15.175      -5.968
OverTime_Yes                         -0.5789      0.312     -1.853      0.065      -1.194       0.037
==============================================================================
Omnibus:                       84.085   Durbin-Watson:                   2.005
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              793.605
Skew:                           1.088   Prob(JB):                    4.69e-173
Kurtosis:                      11.696   Cond. No.                         347.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.